*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
}

.decodificador{
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    display: flex;
}
.decodificador__logo{
    width: 7.5rem;
    height: 3rem;
    margin: .5em;
}
.decodificador__form__campo{
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    width: 680px;
}

.decodificador__form__label{
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */   
}
.decodificador__botoes{
    display: flex;
    width: 680px;
    align-items: center;
    gap: 24px;
}
.decodificador__botao{
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: end;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    text-decoration: none;
    color: #FFF;
}
.decodificador__txtLateral{
    width: 25rem;
    height: 59rem;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--White, #FFF);
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
    padding: 2em;
}
.decodificador__txtLateral__img{

}
.decodificador__txtLateral__Titulo{
    align-self: stretch;
    color: var(--Gray-gray-500, #343A40);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.8rem */
}
.decodificador__txtLateral__Txt{
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}